.base {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-100);
}

.separator {
  height: 0.0625rem;
  background-color: var(--color-rose-100);
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-100);
  font-size: var(--text-preset-4-size);
}

.item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 624.9375rem;
  line-height: 0;
  transition: background-color 0.2s ease-in-out;
}

.item button:focus-visible {
  outline: 0.125rem solid var(--color-primary);
  outline-offset: 0.125rem;
}

@media (prefers-reduced-motion: reduce) {
  .item button {
    transition: none;
  }
}

.itemName {
  color: var(--color-rose-900);
  font-weight: var(--text-preset-4-bold-weight);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
}

.qtyAndPrice {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-100);
}

.quantity {
  color: var(--color-primary);
  font-weight: var(--text-preset-4-bold-weight);
  width: 1.313rem;
}

.price {
  color: var(--color-rose-500);
}

.total {
  color: var(--color-rose-500);
  font-weight: var(--text-preset-4-bold-weight);
}
