.base {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  width: 100%;
}

@media (min-width: 90rem) {
  .base {
    width: 15.625rem;
  }
}

.imageAndControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: auto;
  border: 0.125rem solid transparent;
  transition: border-color 0.2s ease-out;
  border-radius: var(--spacing-100);
  display: block;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  display: block;
}

@media (min-width: 90rem) {
  .imageContainer {
    width: 15.625rem;
    height: 15rem;
  }

  .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.withQuantity {
  border: 0.125rem solid var(--color-primary);
}

.imageAndControls > :last-child {
  margin-block-start: calc(-1.375rem - 0.125rem);
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-50);
}

.category {
  color: var(--color-rose-500);
  font-size: var(--text-preset-4-size);
  font-weight: var(--text-preset-4-weight);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
}

.name,
.price {
  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

.name {
  color: var(--color-rose-900);
}

.price {
  color: var(--color-primary);
}

@media (prefers-reduced-motion: reduce) {
  .imageContainer {
    transition: none;
  }
}
