.base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400);
  padding: var(--spacing-300);
}

.base h1 {
  color: var(--color-rose-900);
  font-weight: var(--text-preset-1-weight);
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
}

@media (min-width: 90rem) {
  .base {
    flex-direction: row;
    justify-content: center;
    padding-inline: var(--spacing-500);
    padding-block: var(--spacing-1100);
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
