:root {
  --font-family: "Red Hat Text", sans-serif;
  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-red: hsl(14, 86%, 42%);
  --color-rose-900: hsl(14, 65%, 9%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-50: hsl(20, 50%, 98%);

  --color-green: hsl(159, 69%, 38%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --text-preset-1-weight: 700;
  --text-preset-1-size: 2.5rem;
  --text-preset-1-line-height: 1.25;
  --text-preset-1-letter-spacing: 0;

  --text-preset-2-weight: 700;
  --text-preset-2-size: 1.5rem;
  --text-preset-2-line-height: 1.25;
  --text-preset-1-letter-spacing: 0;
  /* --text-preset-2-letter-spacing: 0.02rem; */

  --text-preset-3-weight: 600;
  --text-preset-3-size: 1rem;
  --text-preset-3-line-height: 1.5;
  --text-preset-3-letter-spacing: 0;
  /* --text-preset-3-letter-spacing: 0.01rem; */

  --text-preset-4-size: 0.875rem;
  --text-preset-4-weight: 500;
  --text-preset-4-line-height: 1.5;
  --text-preset-3-letter-spacing: 0;
  /* --text-preset-4-letter-spacing: -0.0056rem; */
  --text-preset-4-bold-weight: 600;

  --color-primary: var(--color-red);
  --color-primary-hover: color-mix(
    in srgb,
    var(--color-red) 90%,
    var(--color-black) 10%
  );

  --spacing-1100: 5.5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;

  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-desktop: 64rem; /* 1024px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-rose-50);
}
